@using System.Data;
@model DataTable

<div class="col-md-12">
    <div class="card">
        <div class="header" style="text-align:center">
            <br />
            <h2 class="title">Lista Tipos de Usuario</h2>
            <br />
        </div>
        <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th class="text-center">Código</th>
                        <th class="text-center">Tipo De Usuario</th>
                        <th class="text-center">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (DataRow item in Model.Rows)
                    {
                        <tr id="Fila_@item["IdTipoUsuario"]">
                            <td class="text-center">@item["IdTipoUsuario"]</td>
                            <td class="text-center">@item["TipoUsu"]</td>
                            <td class="td-actions text-center">
                                <a type="button" rel="tooltip" title="Editar" class="btn btn-success btn-simple btn-xs" href="@Url.Action("ActualizarTipoUsuario", "TipoUsuario", new { id = @item["IdTipoUsuario"] })">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a type="button" rel="tooltip" title="Eliminar" class="btn btn-danger btn-simple btn-xs" href="@Url.Action("Eliminar_TUser", "TipoUsuario", new { id = @item["IdTipoUsuario"] })">
                                    <i class="fa fa-times"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

