@using System.Data;
@model DataTable
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Lista Municipios</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="text-center">Código</th>
                                <th class="text-center">Nombre del Municipio</th>
                                <th class="text-center">Nombre del Estado</th>
                                <th class="text-center">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (DataRow item in Model.Rows)
                            {
                                <tr id="Fila_@item["IdMunicipio"]">
                                    <td class="text-center">@item["IdMunicipio"]</td>
                                    <td class="text-center">@item["NombreMuni"]</td>
                                    <td class="text-center">@item["NombreEdo"]</td>
                                    <td class="td-actions text-center">
                                        <a type="button" rel="tooltip" title="Editar" class="btn btn-success btn-simple btn-xs" href="@Url.Action("ActualizarMunicipio", "Municipio", new { id = @item["IdMunicipio"] })">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        <a type="button" rel="tooltip" title="Eliminar" class="btn btn-danger btn-simple btn-xs" href="@Url.Action("EliminarMuni", "Municipio", new { id = @item["IdMunicipio"] })">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</section>