@model PaperMID.BO.EmpresaBO
@{
    ViewBag.Title = "ActualizarEmpresa";
    Layout = "~/Views/Master/_LayoutAdministrador.cshtml";
}
<div class="content">
    <div class="row">
        <p></p>
    </div>
    <div class="row">
        <p></p>
    </div>
    <div class="container-fluid">
        <div class="col-md-11">
            <div class="card">
                <h4 class="title">Actualizar Estado</h4>
                @using (Html.BeginForm("ActuaDatosEmpre", "Empresa", FormMethod.Post))
                {
                    <table class="table table-striped">
                        <tr>
                            <td>Código: @Html.TextBoxFor(x => x.IdEmpresa, new { @style = "width:5%" })    Nombre de la Empresa: @Html.TextBoxFor(x => x.NombreEmpre, new { @style = "width:27%" })    Correo de la Empresa: @Html.TextBoxFor(x => x.CorreoEmpre,new {@style ="width:27%" })</td>
                            
                        </tr>
                        <tr>
                            <td>Telefono de la Empresa: @Html.TextBoxFor(x => x.TelefenoEmpre)   Facebook de la Empresa: @Html.TextBoxFor(x => x.FacebookEmpre)  </td>
                        </tr>
                        <tr>
                            <td>Dirección de la Empresa: @Html.TextBoxFor(x => x.IdDireccion1)</td>
                        </tr>
                        <tr>
                            <td>Misión de la Empresa: @Html.TextAreaFor(x => x.MisionEmpre,new { @rows = "5", @style = "width: 100%; height: 95px;" })</td>
                        </tr>
                        <tr>
                            <td>Visión de la Empresa: @Html.TextAreaFor(x => x.VisionEmpre, new { @rows = "5", @style = "width: 100%; height: 95px;" })</td>
                        </tr>
                        <tr>
                            <td>Valores de la Empresa: @Html.TextAreaFor(x => x.ValoresEmpre, new { @rows = "5", @style = "width: 100%; height: 95px;" })</td>
                        </tr>
                        <tr>
                            <td colspan="2"><button class="btn-success" type="submit">Actualizar</button></td>
                        </tr>
                    </table>

                }
            </div>
        </div>
    </div>
</div>


<style>
    .PreviewImagen {
        height: 100px;
        width: 100px;
        margin: 10px 5px 0 0;
    }
</style>@*CSS para la Preview de la imagen*@

