@model PaperMID.BO.ProductoBO

@{
    ViewBag.Title = "Actualizar_Producto";
    Layout = "~/Views/Master/_LayoutAdministrador.cshtml";
}

<div class="content">
    <div class="row">
        <p></p>
    </div>
    <div class="row">
        <p></p>
    </div>
    <div class="container-fluid">
        <div class="row">
            @using (Ajax.BeginForm("Actualizar_Datos_Producto", "Producto", new AjaxOptions { HttpMethod = "POST" }, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                <div class="col-md-11">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Productos</h4>
                        </div>
                        <div class="content">
                            <form>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Código</label>
                                            <input type="text" class="form-control" name="IdProducto" value="@Model.IdProducto" />
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label>Nombre Producto</label>
                                            <input type="text" class="form-control" name="NombreProd" value="@Model.NombreProd" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-11">
                                        <div class="form-group">
                                            <label>Descripcion del Producto</label>
                                            <textarea class="form-control" placeholder="Escribe aquí la descripción del producto" rows="5" style="width: 100%; height: 87px;" name="DescripcionProd">@Model.DescripcionProd</textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group ">
                                            <label>Precio Producto</label>
                                            <input type="text" class="form-control" name="PrecioProd" value="@Model.PrecioProd" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group ">
                                            <label>Descuento Producto</label>
                                            <input type="text" class="form-control" name="DescuentoProd" value="@Model.DescuentoProd"/>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <label>Tipo Producto</label><!--Obtener el valor del DropDownList por AJAX-->
                                            @Html.DropDownList("IdProveedor1", null, htmlAttributes: new { @class = "form-control", @value = Model.IdProveedor1 })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group ">
                                            <label>Cantidad Disponible</label>
                                            <input type="text" class="form-control" name="CantidadDisponibleProd" value="@Model.CantidadDisponibleProd" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group ">
                                            <label>Cantidad Mínima</label>
                                            <input type="text" class="form-control" name="CantidadMinimaProd" value="@Model.CantidadMinimaProd" />
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <label>Tipo Producto</label><!--Obtener el valor del DropDownList por AJAX-->
                                            @Html.DropDownList("IdTipoProducto1", null, htmlAttributes: new { @class = "form-control" } )
                                        </div>
                                    </div>
                                </div>

                                <div class="=row">
                                    <button type="submit" class="btn btn-info btn-fill pull-right btn-round">Editar</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </div>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

