@using System.Data;
@model DataTable

<div class="container-fluid">
    <div class="row">
        <div class="col-md-11">
            <div class="card">
                <div class="header">
                    <h4 class="title">Lista de Productos</h4>
                </div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="text-center">Código</th>
                                    <th>Nombre</th>
                                    <th>Precio</th>
                                    <th>Descuento</th>
                                    <th>Cantidad Disponible</th>
                                    <th>Cantidad Mínima</th>
                                    <th class="text-right">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (DataRow row in Model.Rows)
                                {
                                    <tr id="fila_@row["IdProducto"]">
                                        <td>@row["IdProducto"]</td>
                                        <td>@row["NombreProd"]</td>
                                        <td>@row["PrecioProd"]</td>
                                        <td>@row["DescuentoProd"]</td>
                                        <td>@row["CantidadDisponibleProd"]</td>
                                        <td>@row["CantidadMinimaProd"]</td>
                                        <td class="td-actions text-right">
                                            <button type="button" rel="tooltip" title="Editar" class="btn btn-info btn-simple btn-xs">
                                                <i class="fa fa-user">@*@Html.ActionLink(null,"","")*@</i>
                                            </button>
                                            <button type="button" rel="tooltip" title="Edit Profile" class="btn btn-success btn-simple btn-xs">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                            <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                </div>
            </div>

        </div>
</div>
